button{
    border-radius: 10px;
    border: none !important;
    background-color: $secondary-color;
    display: flex;
    align-content:  start !important;
    font-size: 15px;
    font-weight: 500;
    gap: 0.3rem;
    padding: 1rem 1rem;
    img{
        position: relative;
        width: 1rem;
    }
}