*{
    
    margin: 0;
    padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden ;
}